.nave{
    height: 100vh;
    display: flex;
    justify-content: center;
    width: 15%;
    align-items: center;
    position: absolute;
    z-index: 111111;
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    direction: rtl;
}
.nave > div >div> div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.lnks > ul{
    height: 25px;
    padding: 0;
    margin: 0;
    /* overflow: hidden; */
    position: relative;
}
.lnks > ul>li>ul{
    position: absolute;
    height: 0;
    padding: 0;
    width: 100px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.lnks > ul:hover li>ul{
    height: 70px;
}

.searchBar{
    display: flex;
    justify-content: center;
    align-items: unset;
}
.searchBar input{
    border-left: 0;
    border-color:var(--primary-color);
    border-radius: 0px 10px 10px 0px;
}
.nave button{
    border-radius: 10px 0 0 10px;

}

.follow h4{
    transition: all 0.3s;
}
.follow h4:hover{
    color:#a0f963 !important;
}
.menu >div>div:hover>div{
    background-color: #a0f963 !important;
}
@media(max-width:991px) {
    .nave{
        width: 100%;
        position: fixed;
        height: 121px;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        background: #000000b8;
        bottom: 0;
        }
    .nave > div>div{
        flex-direction: row !important;
    }
    .nave > div>div>div{
        height: auto !important;
        width: 25%;
    }
   
}