.admin{
    background-color: white;
    min-height: 100vh;
}
.admin>div:first-child{
    border-right: 1px solid rgb(0 0 0 / 24%);
    width: 15%;
    min-width: 150px;
    max-width: 200px;
}
.admin>div:last-child{
    background: #f2f7ff;
}
.admin>div:first-child ul{
    padding: 0;
    margin: 0;
}
.admin>div:first-child ul li{
    text-align: center;
}
.admin>div:first-child ul li a{
    color: black;
    padding: 10px;
    display: block;
}
.admin>div:last-child{
    width: 90%;
    
}